@page
@model CRUD_NetCore7_Razor.Pages.Productos.IndexModel
@{
    ViewData["Title"] = "Lista de Productos";
}

<div class="text-center">
    <h3> Mira nuestros cursos profesionales en <a href="www.google.com" target="_blank"> www.google.com </a></h3>
</div>

<div class="card">

    <div class="card-header bg-dark">
        <div class="row">
            <div class="col-sm-9">
                <h2 class="text-info">Lista de Productos</h2>
            </div>
            <div class="col-sm-3">
                <a asp-page="Crear" class="btn btn-primary">Crear Nuevo Producto</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (Model.Productos.Count() > 0)
        {
            <br />
            <table class="table table-striped border">
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Productos.First().Id)</th>
                    <th>@Html.DisplayNameFor(m => m.Productos.First().NombreProducto)</th>
                    <th>@Html.DisplayNameFor(m => m.Productos.First().Descripcion)</th>
                    <th>@Html.DisplayNameFor(m => m.Productos.First().EnStock)</th>
                    <th>@Html.DisplayNameFor(m => m.Productos.First().Precio)</th>
                    <th>@Html.DisplayNameFor(m => m.Productos.First().FechaCreacion)</th>
                </tr>
                @foreach (var item in Model.Productos)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.Id)</td>
                        <td>@Html.DisplayFor(m => item.NombreProducto)</td>
                        <td>@Html.DisplayFor(m => item.Descripcion)</td>
                        <td>@Html.DisplayFor(m => item.EnStock)</td>
                        <td>@Html.DisplayFor(m => item.Precio)</td>
                        <td>@Html.DisplayFor(m => item.FechaCreacion)</td>
                        <td>
                            <a asp-route-id="@item.Id" asp-page="Editar" class="btn btn-success btn-sm">Editar</a>
                            <button asp-page-handler="Borrar" asp-route-id="@item.Id" onclick="return confirm('Esta seguro de querer borrar el producto?')" class="btn btn-danger btn-sm">Borrar</button>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p class="text-danger text-center">No hay productos disponibles</p>
        }
    </div>

</div>